{% extends "proyecto/base.html" %}
{% block title %}
    Página de inicio
{% endblock %}
{% block body %}
    <h2>Eventos</h2>
    <!--El action del form permite direccionar a la pagina que aparece ahi, solo se debe poner el nombre de la pagina-->
    <div>
        <p>Seleccione <b>Sign Up</b> si es nuevo usuario para registrarse</p>
        <p>Seleccione <b>Log In</b> si es un usuario registrado para autenticarse</p>
        <p>Seleccione <b>Home</b> para página de inicio</p>
    </div>
{% endblock %}
